header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 4px solid #ccc;

    background-color: #fff;

    .wrapper {
        width: 100%;
        margin: 0;
        padding: 1em 1em 0em;

        display: grid;
        grid-template-columns: 1fr 60px;

        .title {
            margin: auto 0;
            width: 100%;
            overflow: hidden;

            h1 {
                font-size: 2em;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .menu {
            width: 100%;
        }
    }
}
