#hero{
    padding: 90px 1em 0;

    display: grid;
    grid-template-columns: 134px 1fr;
    grid-template-areas:
        "icon balloon"
        "icon social";

    .icon{
        grid-area: icon;
        width: 128px;
        height: 128px;
        margin: 6px 6px 0 -6px;

        & > img{
            width: 128px;
            height: 128px;
            border-radius: 64px;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
    }

    .window{
        margin-bottom: .5em;
        width: 100%;

        .names{
            margin-bottom: .3rem;
        }

        .name{
            font-size: 1.5em;
        }

        .nickname{
            font-size: 1.2em;
            color: #666;
        }
    }

    .message-container{
        box-shadow: 0px -4px #000, 4px 0px #000, 0px 4px #000, -4px 0px #000;
        padding: .4rem 1.5rem;
        margin: 4px;

        &>p:last-child{
            margin-bottom: 0;
        }
    }

    .social{
        margin: .2em 1em 1em;
    }
}