#hero{
    padding: 90px 1em 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "icon"
        "balloon"
        "links";

    .icon{
        grid-area: icon;
        width: 128px;
        height: 128px;
        margin: 0 auto .5em;

        & > img{
            width: 128px;
            height: 128px;
            border-radius: 64px;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
    }

    .window{
        margin-bottom: .5em;
        width: 100%;

        .names{
            margin-bottom: .3rem;
        }

        .name{
            font-size: 1.5em;
        }

        .nickname{
            font-size: 1.2em;
            color: #666;
        }

        &>p:last-child{
            margin-bottom: 0;
        }
    }

    .links{
        margin: .2em auto 1em;
        display: inline-block;

        & > a:not(:last-child){
            margin-right: .5em;
        }
    }

    @include mq(md){
        grid-template-columns: 134px 1fr;
        grid-template-areas:
            "icon balloon"
            "icon links";

        .icon{
            margin: 6px 6px 0 -6px;
        }

        .links{
            margin: .2em 1em 1em;
        }
    }
}
