#hero{
    display: grid;
    grid-template-columns: 138px 1fr;
    grid-template-areas:
        "icon balloon"
        "icon social";

    .icon{
        grid-area: icon;
        width: 128px;
        height: 128px;
        margin-left: -6px;
        margin-right: 10px;

        & > img{
            width: 128px;
            height: 128px;
            border-radius: 64px;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
    }

    .window{
        margin-bottom: .5em;
        width: 100%;
    }

    .social{
        margin: 0 1em 1em;
    }


}