<!DOCTYPE html>
<html>

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    <div id="loading"></div>
    <div class="flex-main" data-barba="wrapper">
        <header>
            {{- partial "header.html" . -}}
        </header>
        {{- partial "hero.html" . -}}
        <main data-barba="container" data-barba-namespace="main">
            {{- block "main" . }}{{- end }}
        </main>
        <div id="debug-block"></div>
    </div>
    {{- partial "menu.html" . -}}
    {{- partial "footer.html" . -}}
    {{- partial "foot.html" . -}}
</body>

</html>
