<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@barba/css@2.1.15/dist/barba-css.umd.min.js"></script>

{{ with .Site.Params.gtag }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
        gtag('config', '{{ . }}');
</script>
{{ end }}

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{{ with resources.Get "ts/index.ts" }}
{{ $js := resources.Get . | js.Build }}
<script src="{{ $js.Permalink }}"></script>
{{ end }}
