<div id="hero">
    <div class="icon">
        <img alt="Icon" src="{{ .Site.Params.icon }}">
    </div>
    {{/* <div class="window nes-container is-rounded"> */}}
    <div class="window message-container">
        <p class="names"><span class="name">{{ .Site.Params.name }}</span>&nbsp;<span
                        class="nickname">{{ .Site.Params.nickname }}</span></p>
        <p>{{ .Site.Params.heroText | safeHTML }}</p>
    </div>
    <div class="social">
        <a href="{{ .Site.Params.social.github }}" target="_blank" rel="noopener noreferrer"><i
                class="nes-icon github"></i></a>&nbsp;
        <a href="{{ .Site.Params.social.twitter }}" target="_blank" rel="noopener noreferrer"><i
                class="nes-icon twitter"></i></a>&nbsp;
        <a href="{{ .Site.Params.social.instagram }}" target="_blank" rel="noopener noreferrer"><i
                class="nes-icon instagram"></i></a>&nbsp;
        <a href="{{ .Site.Params.social.youtube }}" target="_blank" rel="noopener noreferrer"><i
                class="nes-icon youtube"></i></a>&nbsp;
        <a href="{{ .Site.Params.social.twitch }}" target="_blank" rel="noopener noreferrer"><i
                class="nes-icon twitch"></i></a>
    </div>
</div>
